@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}


/* Container  */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1199.98px) {
  .container {
    width: 960px;
  }
}

@media (max-width: 991.98px) {
  .container {
    width: 720px;
  }
}

@media (max-width: 767.98px) {
  .container {
    width: 540px;
  }
}

@media (max-width: 575.98px) {
  .container {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}

/*End Container  */

/* Header  */
.header {
  background-color: #14425D;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999999999;
}

.header_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.header_menu {
  display: inline-flex;
  padding: 0;
  margin-left: 0;
}

.header_menu .menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-items: center;
  list-style: none;
  padding: 0;
  color: #f2f2f2;
  font-size: 15px;
  font-weight: 500;
}

.header_menu .menu .left {
  margin-right: 5px;
}

.header_menu .menu .right {
  margin-left: 5px;
}

.header_menu .menu .par-menu1 {
  position: relative;
  cursor: pointer;
}

.header_menu .menu .sub-menu1 {
  position: absolute;
  list-style: none;
  left: -10px;
  top: 40px;
  background-color: #2F566D;
  padding: 10px 10px 10px 0;
  width: 190px;
  z-index: 99;
  display: none;
}

.header_menu .menu .par-menu1 .active {
  display: block;
}

.header_menu .menu .sub-menu1 li {
  padding: 7px 7px 7px 19px;
  margin-right: 0;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}


.header_menu .menu li {
  margin-right: 40px;
}

.header_logo {
  overflow: hidden;
  width: 200px;
  height: 40px;
}

.header_input {
  position: relative;
}

.header_input input {
  height: 30px;
  outline: none;
  width: 210px;
}

.header_input .glass {
  position: absolute;
  top: 9px;
  right: 8px;
  font-size: 16px;
}

.header_menu .menu .par-menu2 {
  position: relative;
  cursor: pointer;
}

.header_menu .par-slide-menu {
  position: absolute;
  background-color: #2F566D;
  display: none;
  top: 40px;
  left: -10px;
  z-index: 3;
}

.header_menu .menu .par-menu2 .active {
  display: flex;
}

.header_menu .par-slide-menu .sub-menu2 {
  list-style: none;
  padding: 10px 10px 10px 0;
  width: 190px;
}

.header_menu .par-slide-menu .sub-menu2 li {
  padding: 7px 2px 7px 19px;
  margin-right: 0;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}

.header_menu .menu .par-menu3 {
  position: relative;
  cursor: pointer;
}

.header_menu .menu .slide-menu3 {
  position: absolute;
  cursor: pointer;
  background-color: #2F566D;
  top: 40px;
  left: -10px;
  display: none;
  z-index: 3;
}

.header_menu .menu .par-menu3 .active {
  display: block;
}

.header_menu .menu .slide-menu3 ul {
  list-style: none;
  padding: 10px 10px 10px 0;
  width: 190px;
}

.header_menu .menu .slide-menu3 ul li {
  padding: 7px 2px 7px 19px;
  margin-right: 0;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}

.header_menu .menu-edit {
  display: flex;
  align-items: center;
  gap: 2px;
}

.menu-reponsive {
  display: none;
  padding: 10px 13px 10px 13px;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}

.header_menu .menu-drop.block {
  display: block!important;
  justify-items: left!important;
}

.mb-30 {
  margin-bottom: 30px;
}

.list-drop {
  list-style: none;
  padding: 0;
}

.list-drop li {
  margin-bottom: 30px;
}


.sub-menu {
  display: none;
}

.menu-edit.active {
  color: #FFE5B4;
}


.sub-menu.active {
  display: block;
}

.none {
  display: none;
}

.header_menu .menu li a {
  text-decoration: none;
  font-size: 15px;
  color: white;
  font-weight: 400;
}

.header_menu .menu li a:hover {
  color: #FFE5B4;
}


@media (max-width: 991.98px) {
  .header_menu .menu {
    display: none;
  }

  .header_input {
    display: none;
  }

  .menu-reponsive {
    display: block;
  }
}

/*End Header  */

/* Main  */
.main-bread {
  background-color: #ECECEC;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 6px 0;
}

.main-bread .desc-title {
  color: #4E4E4E;
  font-size: 14px;
  font-weight: 400;
}
/*End Main  */

/* Section-1  */
.section-1 .section-1__title {
  position: relative;
  border-bottom: 1px solid #ccc;
  margin-top: 10px;
  color: #4e4e4e;
  height: 35px;
}

.section-1 .section-1__title .title {
  position: absolute;
  font-size: 22px;
  top: 0;
  left: 0;
}

.section-1 .section-1__title .title .span2 {
  border-bottom: 1px solid #4E4E4E;
  padding-bottom: 7px;
}

.section-1 .section-1__title .filter {
  position: absolute;
  top: 0;
  right: 0;
}

.section-1 .section-1__title .filter select {
  font-size: 23px;
  color: #4e4e4e;
  padding: 3px;
}

.section-1 .section-1__item {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.section-1 .section-1__item .item {
  width: calc(100% / 8 - 7px);
  height: auto;
  position: relative;
  margin-right: 7px;
  transition: transform .2s;
}

.section-1 .section-1__item .item:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
  z-index: 10;
}

.section-1 .section-1__item .item .item-link {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.section-1 .section-1__item .item .item-link .label {
  position: absolute;
  bottom: 5px;
  left: -7px;
  z-index: 1;
  width: 34px;
  height: 50px;
}

.section-1 .section-1__item .item .item-link .image-main {
  width: 100%;
  height: 100%;
  object-fit: contain;
  box-shadow: 0 1px 2px #B5B5B5;
}

.section-1 .section-1__item .item .item-link .desc {
  position: absolute;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #f4f4f4;
  text-align: center;
  font-size: 15px;
  display: block;
  margin: 0;
  width: 100%;
}

@media (max-width: 991.98px) {
  .section-1 .section-1__item .item {
    width: calc(100% / 4 - 7px);
  }
} 

@media (max-width: 575.98px) {
  .section-1 .section-1__item .item {
    width: calc(100% / 2 - 7px);
  }
}
/*End Section-1  */

/* Section-2  */
.section-2 .inner-wrap {
  display: flex;
}

.section-2 .section-2__left {
  width: 75%;
}

.section-2 .section-2__right {
  width: 25%;
}

.section-2 .section-2__title {
  position: relative;
  border-bottom: 1px solid #ccc;
  margin-top: 10px;
  color: #4e4e4e;
  height: 35px;
}

.section-2 .section-2__title .title {
  position: absolute;
  font-size: 22px;
  top: 0;
  left: 0;
  text-transform: uppercase;
}

.section-2 .section-2__title .title .span2 {
  border-bottom: 1px solid #4E4E4E;
  padding-bottom: 7px;
  padding-left: 7px;
}

.section-2 .section-2__title .filter {
  position: absolute;
  top: 0;
  right: 0;
}

.section-2 .section-2__title .filter select {
  font-size: 23px;
  color: #4e4e4e;
  padding: 3px;
}

.section-2 .section-2__right {
  border: 1px solid #D9E1E4;
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px 10px 0 10px;
  background-color: #ecf0f1;
}

.section-2 .section-2__right .section-2__list {
  display: flex;
}

.section-2 .section-2__right .section-2__list ul {
  list-style: none;
}

.section-2 .section-2__right .section-2__list ul a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #4E4E4E;
}

.section-2 .section-2__right .section-2__list ul a:hover {
  text-decoration: underline;
}

.section-2 .section-2__right .section-2__list .list1 ul {
  padding-left: 26px;
}

.section-2 .section-2__right .section-2__list .list2 ul {
  padding-left: 17px;
}

.section-2 .section-2__right .section-2__list ul li {
  margin-top: 10px;
}

@media (max-width: 991.98px) {
  .section-2 .section-2__left {
    width: 100%;
  }

  .section-2 .section-2__right {
    display: none;
  }
} 

@media (max-width: 575.98px) {
  .table .time {
    display: none;
  }

  .table .category {
    display: none;
  }

  .table .title {
    width: 75%!important;
  }

  .table .chapter {
    flex: 1;
  }
} 

/*End Section-2  */

/* Table  */

.table {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #4E4E4E;
}

.table a {
  text-decoration: none;
}

.table a:hover {
  text-decoration: underline;
}

.table .hot {
  padding: 4px;
  border: 1px solid red;
  margin-left: 5px;
  color: red;
  font-size: 15px;
  font-weight: 300;
}

.table .full {
  padding: 4px;
  border: 1px solid green;
  margin-left: 5px;
  color: green;
  font-size: 15px;
  font-weight: 300;
}

.table .title {
  height: 50px;
  border-right: 1px dotted #4E4E4E;
  text-align: left;
  border-bottom: 1px dotted #4E4E4E;
  width: 40%;
  white-space: nowrap;    
  overflow: hidden;        
  text-overflow: ellipsis;
  padding-top: 16px;
}

.table .title a {
  color: #4E4E4E;
  font-size: 17px;
  font-weight: 450;
}

.table .category a {
  color: #4E4E4E;
}

.table .category {
  height: 50px;
  border-right: 1px dotted #4E4E4E;
  text-align: left;
  border-bottom: 1px dotted #4E4E4E;
  width: 20%;
  padding-left: 10px;
  padding-top: 16px;
  white-space: nowrap;    
  overflow: hidden;        
  text-overflow: ellipsis;
}

.table .chapter {
  height: 50px;
  border-right: 1px dotted #4E4E4E;
  text-align: left;
  border-bottom: 1px dotted #4E4E4E;
  width: 20%;
  padding-left: 10px;
  padding-top: 16px;
}

.table .chapter a {
  color: #31708f;
  text-decoration: none;
}

.table .chapter a:hover {
  text-decoration: underline;
}

.table .time {
  height: 50px;
  border-bottom: 1px dotted #4E4E4E;
  width: 20%;
  padding-left: 10px;
  padding-top: 16px;
}

/* End Table  */

/* Section-3  */
.section-3 {
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 40px;
}

.section-3 .section-3__title {
  position: relative;
  border-bottom: 1px solid #ccc;
  margin-top: 10px;
  color: #4e4e4e;
  height: 35px;
}

.section-3 .section-3__title .title {
  position: absolute;
  font-size: 22px;
  top: 0;
  left: 0;
  text-transform: uppercase;
}

.section-3 .section-3__title .title .span2 {
  border-bottom: 1px solid #4E4E4E;
  padding-bottom: 7px;
  padding-left: 7px;
}

.section-3 .inner-wrap {
  display: flex;
  flex-wrap: wrap;
}

.section-3 .inner-wrap .item-section-3 {
  width: calc(100% / 6 - 10px);
  margin-right: 10px;
  margin-top: 19px;
}

.section-3 .inner-wrap .item-section-3 img {
  width: 100%;
  object-fit: contain;
}

.section-3 .inner-wrap .item-section-3:nth-child(6n) {
  margin-right: 0px;
}

.section-3 .inner-wrap .title {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #4E4E4E;
  white-space: nowrap;    
  overflow: hidden;        
  text-overflow: ellipsis;
}

.section-3 .inner-wrap .chapter {
  text-align: center;
  margin-top: 5px;
}

.section-3 .inner-wrap .chapter span {
  padding: 3px;
  border-radius: 7px;
  color: #fff;
  background-color: #2A5893;
}

.item-section-3 a {
  text-decoration: none;
}

@media (max-width: 991.98px) {
  .section-3 .inner-wrap .item-section-3 {
    width: calc(100% / 4 - 10px);
  }
} 

@media (max-width: 575.98px) {
  .section-3 .inner-wrap .item-section-3 {
    width: calc(100% / 2 - 10px);
  }
}

/*End Section-3  */

/* box-list*/
.box-list__wrap {
  display: flex;
}

/* box list left */
.box-list {
  border-bottom: 1px solid #CCCCCC;
  padding: 20px 0;
}

.box-list__left {
  width: 73%;
  margin-right: 10px;
}

.box-list__title {
padding-bottom: 5px;
border-bottom: 1px solid #CCCCCC;
}

.box-list__title h2 {
  display: inline;
  font-size: 23px;
  font-weight: 400;
  color: #4E4E4E;
  border-bottom: 1px solid #4E4E4E;
  padding-bottom: 5px;
}

.box-list__item {
  display: flex;
  width: 100%;
  border-bottom: 1px dashed #CCCCCC;
  margin-top: 10px;
  padding-bottom: 6px;
}

.box-list__item:last-child {
  border: 0;
}

.box-list__img {
  width: 200px;
  height: auto;
  margin-left: 10px;
  margin-right: 20px;
}

.box-list__img img {
  width: 100%;
  object-fit: cover;
}

.box-list__name {
  width: 60%;
  margin-top: auto;
  margin-bottom: auto;
}

.box-list__above {
  display: flex;
  align-items: center;
}

.box-list__above i {
  margin-right: 5px;
  color: #464646;
  font-size: 17px;
}

.box-list__above a {
  text-decoration: none;
  font-size: 19px;
  font-weight: 500;
  color: #464646;
}

.box-list__above a:hover {
  text-decoration: underline;
}

.box-list__above div {
  font-size: 13px;
  margin-left: 5px;
  padding: 3px;
}

.box-list__green {
  border: 1px solid #86AD86;
  color: #86AD86;
}

.box-list__red {
  border: 1px solid #FD8383;
  color: #FD8383;
}

.box-list__below {
  font-size: 15px;
  font-weight: 400;
  color: #464646;
  font-style: italic;
}

.box-list__below i {
  font-size: 12px;
}

.box-list__chapter {
  font-size: 14px;
  font-weight: 500;
  margin: auto 0;
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
}

.box-list__chapter a{
  color: #31708F;
  text-decoration: none;
}

.box-list__chapter a:hover{
  text-decoration: underline;
}

.box-list__page ul {
  display: flex;
  justify-content: center;
}

.box-list__page ul li {
  display: flex;
  list-style: none;
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  padding: 8px 10px;
  font-size: 13px;
  color: #464646
}

.box-list__page ul li:first-child {
  border-left: 1px solid #CCCCCC;
}

.box-list__page ul li:last-child {
  border-right: 1px solid #CCCCCC;
  padding: 0;
}

.box-list__page ul li:last-child div {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.box-list__page ul li:last-child div i {
  margin: auto 0 7px 4px;
  color: #464646;
  font-size: 10px;
}

.box-list__page ul li:hover,
.box-list__page ul li:first-child {
  background-color: #2F4254;
  color: white;
}

.box-list__page ul li div:hover i {
  color: white;
}

/* End box list left */

/* box list right */
.box-list__right {
  width: 25%;
}

.box-list__content {
  border: 1px solid #D9E1E4;
  font-size: 13px;
  padding: 10px;
  color: #464646;
  background-color: #ECF0F1;
  margin-bottom: 30px;
}

/* box list category */
.box-list__category--list {
  border: 1px solid #D9E1E4;
  background-color: #ECF0F1;
  padding: 10px;
}

.box-list__category--title{
border-bottom: 1px solid #CCCCCC;
padding-bottom: 5px;
}

.box-list__category--title h3 {
  display: inline;
  font-size: 20px;
  font-weight: 400;
  color: #4E4E4E;
  border-bottom: 1px solid #4E4E4E;
  margin: 0;
  padding-bottom: 5px;
}

.box-list__category--wrap {
  display: flex;
  margin-top: 10px;
}

.box-list__category--left {
  width: 50%;
  padding-left: 40px;
  padding-right: auto;
}

.box-list__category--right {
  width: 50%;
}

.box-list__category--left a {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #4E4E4E;
}

.box-list__category--right a {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #4E4E4E;
}

.box-list__category--left a:hover {
  text-decoration: underline;
}

.box-list__category--right a:hover {
  text-decoration: underline;
}

/* End box list category */

/* box list hot */
.box-list__hot {
  margin-top: 30px;
}

.box-list__hot--title{
border-bottom: 1px solid #CCCCCC;
padding-bottom: 5px;
}

.box-list__hot--title h3 {
  display: inline;
  font-size: 20px;
  font-weight: 400;
  color: #4E4E4E;
  border-bottom: 1px solid #4E4E4E;
  margin: 0;
  padding-bottom: 5px;
}

.box-list__date {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.box-list__date div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 30px;
  border: 1px solid #CCCCCC;
  border-radius: 20px;
  font-size: 11px;
  color: #4E4E4E;
  margin-right: 5px;
}

.box-list__date div:first-child,
.box-list__date div:hover {
  background-color: #4E4E4E;
  color: white;
}

.box-list__hot--item {
  display: flex;
  align-items: center;
  border-bottom: 1px dashed #CCCCCC;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.box-list__hot--item:last-child {
  border-bottom: 0;
}

.box-list__hot--transparent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 27px;
  border: 1px solid #CCCCCC;
  border-radius: 50%;
  font-size: 11px;
  font-weight: 500;
  margin-right: 10px;
}

.box-list__hot--red {
  border: 0;
  background-color: #E74C3C;
  color: white;
}

.box-list__hot--green {
  border: 0;
  background-color: #5EB949;
  color: white;
}

.box-list__hot--blue {
  border: 0;
  background-color: #5CABB8;
  color: white;
}

.box-list__hot--name .title {
  font-size: 15px;
  text-decoration: none;
  color: #083767;
}

.box-list__hot--name .desc {
  font-size: 12px;
  text-decoration: none;
  color: #4E4E4E;
}

.box-list__hot--name .title:hover {
  text-decoration: underline;
}

.box-list__hot--name .desc:hover {
  text-decoration: underline;
}

/* End box list hot */
/* End box list left */

@media(max-width: 991.98px){
.box-list__right{
  display: none;
}

.box-list__left{
  width: 100%
}
}
/* End box-list */

/* footer */
.footer {
  background-color: #F8F8F8;
  padding: 30px 0;
}

.footer__contact {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
  color: #4E4E4E;
}

.footer__contact a {
  margin-left: 3px;
  color: #4E4E4E;
  text-decoration: none;
}

.footer__contact a:hover {
  text-decoration: underline;
}

.footer__content {
  width: 50%;
  font-size: 13px;
  font-weight: 350;
}

.footer__content span {
  display: inline-block;
  width: 70%;
}

/* End footer */

/* breadcrumb */
.breadcrumb {
  background-color: #ECECEC;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 6px 0;
}

.breadcrumb .breadcrumb-title {
  color: #4E4E4E;
  font-size: 14px;
  font-weight: 400;
}

.breadcrumb .breadcrumb-title span a{
  text-decoration: none;
  color: #4E4E4E;
}

.breadcrumb .breadcrumb-title span a:hover{
  text-decoration: underline;
}
/* End breadcrumb */


/* Info-page  */
.box-detail__wrap {
  display: flex;
  margin-top: 20px;
}

/* box left */
.box-detail__left {
  width: 75%;
}

.box-detail__title {
  border-bottom: 1px solid rgb(202, 198, 198);
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.box-detail__title div {
  display: inline;
  font-size: 20px;
  border-bottom: 1px solid black;
  font-family: 'Roboto Condensed', Tahoma, sans-serif;
  padding-bottom: 5px;
}

.box-detail__title div::selection {
  color: white;
  background-color: rgb(78, 78, 78);
}

.box-detail__content .wrap {
  padding-top: 30px;
}

.box-detail__desc {
  width: 100%;
  margin-left: 30px;
}

.box-detail__desc .title-chapter {
  text-align: center;
  font-size: 24px;
  border-bottom: 1px solid #B5B5B5;
  margin-bottom: 10px;
  margin-top: 5px;
  padding-bottom: 12px;
}

.title-chapter span::selection {
  color: white;
  background-color: rgb(78, 78, 78);
}

.content p::selection {
  color: white;
  background-color: rgb(78, 78, 78);
}

.box-detail__content {
  display: flex;
  font-size: 12px;
}

.box-detail .brief-desc {
  border-right: 1px solid rgb(219, 219, 219);
  padding: -5px;
  padding-right: 40px;
  margin-right: 0px;
  font-family: "Roboto Condensed", Tahoma, sans-serif;
}

.box-detail .brief-desc strong::selection {
  color: white;
  background-color: rgb(78, 78, 78);
}

.brief-desc p::selection {
  color: white;
  background-color: rgb(78, 78, 78);
}

.box-detail__desc .new-chapter {
  margin-top: 50px;
}

.box-detail__desc .new-chapter .title {
  font-size: 15px;
  color: #4E4E4E;
  border-bottom: 1px solid rgb(193, 189, 189);
}

.box-detail__desc .new-chapter .title div {
  display: inline;
  border-bottom: 1px solid black;
}

.box-detail__desc .new-chapter ul li {
  list-style: none;
  margin-bottom: 10px;
  font-size: 15px;
}

.box-detail__desc .new-chapter ul li span {
  font-size: 9px;
  color: #4E4E4E;
}

.box-detail__desc .new-chapter ul li a {
  text-decoration: none;
  color: #4E4E4E;
}

.box-detail__desc .new-chapter ul li a:hover {
  text-decoration: underline;
}

.box-detail__rate .icon {
  margin-left: auto;
  color: rgb(233, 161, 17);
  font-size: 13px;
}

.box-detail__rate {
  text-align: center;
}

.box-detail .flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


/* box detail list chapter */
.box-detail__list-chapter .title {
  font-size: 20px;
  color: #4E4E4E;
  border-bottom: 1px solid rgb(193, 189, 189);
  padding-bottom: 5px;
}

.box-detail__list-chapter .title div {
  display: inline;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.box-detail__list-chapter .title div::selection {
  color: white;
  background-color: rgb(78, 78, 78);
}

.box-detail__list-chapter .main {
  display: flex;
}

.box-detail__list-chapter .main .left {
  width: 50%;
}

.box-detail__list-chapter .main .right {
  width: 50%;
}

.box-detail__list-chapter .main ul li {
  list-style: none;
  margin-bottom: 10px;
  font-size: 15px;
}

.box-detail__list-chapter .main ul li span {
  font-size: 9px;
  color: #4E4E4E;
}

.box-detail__list-chapter .main ul li a {
  text-decoration: none;
  color: #4E4E4E;
}

.main li a::selection {
  color: white;
  background-color: rgb(78, 78, 78);
}

.box-detail__list-chapter .main ul li a:hover {
  text-decoration: underline;
}

/* End box detail list chapter */

/* box detail list page */
.box-detail__page ul {
  display: flex;
  justify-content: center;
}

.box-detail__page ul li {
  display: flex;
  list-style: none;
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  padding: 8px 10px;
  font-size: 13px;
  color: #464646
}

.box-detail__page ul li:first-child {
  border-left: 1px solid #CCCCCC;
}

.box-detail__page ul li:last-child {
  border-right: 1px solid #CCCCCC;
  padding: 0;
}

.box-detail__page ul li:last-child div {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.box-detail__page ul li:last-child div i {
  margin: auto 0 7px 4px;
  color: #464646;
  font-size: 10px;
}

.box-detail__page ul li:hover,
.box-detail__page ul li:first-child {
  background-color: #2F4254;
  color: white;
}

.box-detail__page ul li:last-child div:hover {
  background-color: #2F4254;
  color: white;
}

.box-detail__page ul li div:hover i {
  background-color: #2F4254;
  color: white;
}

/* End box detail list page */
/* End box left */

/* box right */
.box-detail__right {
  flex: 1;
  margin-left: 10px;
}

.box-detail__right .Same-author {
  border: 1px solid #CCCCCC;
  background-color: #ECF0F1;
  padding: 5px;
}

.box-detail__right .title-same-author {
  font-size: 20px;
  color: #464646;
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 5px;
  background-color: #ECF0F1;
}

.box-detail__right .title-same-author div {
  display: inline;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.box-detail .title-same-author div::selection {
  color: white;
  background-color: rgb(78, 78, 78);
}

.box-detail__right .main-same-author {
  margin-top: 20px;
}

.box-detail__right .main-same-author div {
  background-color: #ECF0F1;
  font-size: 15px;
  font-weight: 400;
  color: #464646;
  border-bottom: 1px dashed #CCCCCC;
  padding: 10px 0;
}

.box-detail__right .main-same-author a {
  text-decoration: none;
  color: #464646;
  font-size: 15px;
}

.main-same-author span::selection {
  color: white;
  background-color: rgb(78, 78, 78);
}

.box-detail__right .main-same-author div:last-child {
  border: 0;
}

/* box detail hot */
.box-detail__hot {
  margin-top: 30px;
}

.box-detail__hot--title {
  display: flex;
}

.box-detail__hot--title h3 {
  width: 55%;
  font-size: 20px;
  font-weight: 400;
  color: #4E4E4E;
  border-bottom: 1px solid #4E4E4E;
  margin: 0;
  padding-bottom: 5px;
}

.box-detail__hot--title h3::selection {
  color: white;
  background-color: rgb(78, 78, 78);
}

.box-detail__hot--title div {
  width: 45%;
  border-bottom: 1px solid #CCCCCC;
}

.box-detail__date {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.box-detail__date div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 30px;
  border: 1px solid #CCCCCC;
  border-radius: 20px;
  font-size: 11px;
  color: #4E4E4E;
  margin-right: 5px;
}

.box-detail__date div:first-child span {
  background-color: #4E4E4E;
}

.box-detail__date div:first-child,
.box-detail__date div:hover {
  background-color: #4E4E4E;
  color: white;
}

.box-detail__date div:hover span {
  background-color: #4E4E4E;
  color: white;
}

.box-detail__hot--item {
  display: flex;
  align-items: center;
  border-bottom: 1px dashed #CCCCCC;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.box-detail__hot--item:last-child {
  border-bottom: 0;
}

.box-detail__hot--transparent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 27px;
  border: 1px solid #CCCCCC;
  border-radius: 50%;
  font-size: 11px;
  font-weight: 500;
  margin-right: 10px;
}

.box-detail__hot--red {
  border: 0;
  background-color: #E74C3C;
  color: white;
}

.box-detail__hot--red span {
  background-color: #E74C3C;
}

.box-detail__hot--green {
  border: 0;
  background-color: #5EB949;
  color: white;
}

.box-detail__hot--green span {
  background-color: #5EB949;
}

.box-detail__hot--blue {
  border: 0;
  background-color: #5CABB8;
  color: white;
}

.box-detail__hot--blue span {
  background-color: #5CABB8;
}

.box-detail__hot--name .title {
  font-size: 15px;
  text-decoration: none;
  color: #083767;
}

.box-detail__hot--name .desc {
  font-size: 12px;
  text-decoration: none;
  color: #4E4E4E;
}

.box-detail__hot--name .title:hover {
  text-decoration: underline;
}

.box-detail__hot--name a::selection {
  color: white;
  background-color: rgb(78, 78, 78);
}

.box-detail__hot--name .desc:hover {
  text-decoration: underline;
}

@media (max-width: 991.98px) {
  .box-detail__right {
    display: none;
  }
  .box-detail__left {
    width: 100%;
  }
}

@media (max-width: 575.98px) {
  .box-detail__content {
    flex-wrap: wrap;
  }

  .box-detail__content .wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 30px;
  }

  .brief-desc {
    border: none;
  }

  .box-detail__list-chapter .main .right {
    display: none;
  }

  .box-detail__list-chapter .main .left {
    width: 100%;
  }

  .box2, .box1 {
    display: none;
  }
}

/* End box detail hot */
/* End box right */

.box-detail .comment-chapter .title-comment {
  font-size: 20px;
  color: #4E4E4E;
  border-bottom: 1px solid rgb(193, 189, 189);
  padding-bottom: 5px;
  max-width: 65%;
}

.box-detail .comment-chapter .title-comment div {
  display: inline;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.box-detail .title-comment div::selection {
  color: white;
  background-color: rgb(78, 78, 78);
}

.box-detail .comment {
  display: flex;
  margin-top: 15px;
  border-bottom: 1px solid rgb(222, 218, 218);
  max-width: 65%;
  gap: 10px;
}

.box-detail #new-comment {
  /* margin-left: 525px; */
  margin-bottom: 30px;
}

.box-detail .content-comment {
  margin-top: 30px;
  display: flex;
}

.box-detail .box1 {
  width: 70px;
  height: 70px;
  border: 1px solid rgb(193, 189, 189);
  margin-right: 10px;
  background-image: url(https://scontent.fsgn8-3.fna.fbcdn.net/v/t39.30808-1/370614879_753485416580088_2054528454705935534_n.jpg?stp=dst-jpg_s200x200&_nc_cat=110&ccb=1-7&_nc_sid=0ecb9b&_nc_ohc=nM7ynQZKzekQ7kNvgEFSSGD&_nc_ht=scontent.fsgn8-3.fna&_nc_gid=ASmWfKCQy9uvjp5ItBz3l8b&oh=00_AYAIn82ewdeYBDW_HBdJ2OeuijW-fPJqL3_cENRYd4B7nA&oe=67116B9C);
  background-position: center;
  background-size: contain;
}

.box-detail .content-comment .content {
  max-width: 114%;
  padding-right: 550px;
  border: 1px solid rgb(193, 189, 189);
}

.box-detail .old-comment {
  margin-top: 25px;
  display: flex;
  max-width: 65%;
}

.box-detail .box2 {
  width: 70px;
  height: 70px;
  border: 1px solid rgb(193, 189, 189);
  margin-right: 10px;
  background-image: url(https://scontent.fsgn8-3.fna.fbcdn.net/v/t39.30808-1/457658443_122195471138073761_7708243236492335137_n.jpg?stp=cp0_dst-jpg_s48x48&_nc_cat=100&ccb=1-7&_nc_sid=6738e8&_nc_ohc=MNHfhRYnjFYQ7kNvgHvvpxC&_nc_ht=scontent.fsgn8-3.fna&edm=AJqh0Q8EAAAA&_nc_gid=Aa-E9SqgnFde6ANhZ5YEGwJ&oh=00_AYAT1rnh0jo-CjbGp7uE7un-z1zWby2RxHud5qx2lOH4cw&oe=67119E6D);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.box-detail .content-old-comment p {
  max-width: 100%;
}

.box-detail .content-old-comment h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 15px;
  color: rgb(29, 72, 144);
}

.box-detail .reply {
  margin-left: 75px;

}

.box-detail .reply span {
  margin-right: 10px;
}

.box-detail span a {
  color: rgb(88, 123, 189);

}

.box-detail h5 a {
  text-decoration: none;
  color: rgb(29, 72, 144);
}

footer {
  border-top: 1px solid rgb(193, 189, 189);
  margin-top: 20px;
}

.contact {
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 25px;
}

.contact a {
  text-decoration: none;
  color: black;
}

.contact a:hover {
  border-bottom: 1px solid black;
}

.contact::selection,
.contact a::selection {
  color: white;
  background-color: rgb(78, 78, 78);
}

.footer-box {
  display: flex;
}

.introduce {
  max-width: 35%;
  /* margin-left: 165px; */
  line-height: 25px;
  font-size: 15px;
}

.introduce p::selection {
  color: white;
  background-color: rgb(78, 78, 78);
}

.hot-genre {
  width: 100%;
  text-align: left;
  display: flex;
  margin-left: auto;
}

.hot-genre ul li {
  list-style-type: none;
}

.hot-genre ul li a {
  text-decoration: none;
  color: black;
}

.hot-genre a {
  font-size: 13px;
  white-space: nowrap;
  background: #F3F3F3;
  border: 1px solid #E8E8E8;
  display: inline-block;
  padding: 2px 5px;
  margin: 2px 2px 2px 0;
  text-decoration: none;
  text-align: center;
}

.hot-genre a::selection {
  color: white;
  background-color: rgb(78, 78, 78);
}

/*End  Info-page  */

.title-chapter {
  text-align: center;
  font-size: 20px;
  color: rgb(102, 153, 0);
  font-weight: 400;
  line-height: 20px;
  font-family: "Roboto Condensed", Tahoma, sans-serif;
  margin-top: 30px;
}

.name-chapter {
  text-align: center;
  font-size: 15px;
  line-height: 35px;
  font-family: "Roboto Condensed", Tahoma, sans-serif;
  color: gray;
}

.header-chapter {
  margin-right: 200px;
}

.next-back__chapter {
  width: 100%;
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

.next-back__chapter a {
  text-decoration: none;
  color: white;
}

.back-chapter {
  /* width: 12%; */
  /* height: 40px; */
  background-color: rgb(68, 157, 68);
  border-radius: 5px;
  text-align: center;
  line-height: 35px;
  font-size: 18px;
  color: white;
}

.list-chapter-icon {
  width: 3%;
  height: 40px;
  background-color: rgb(68, 157, 68);
  margin: 0 5px 0 5px;
  line-height: 35px;
  text-align: center;
  color: white;

}

.next-chapter {
  /* width: 12%; */
  /* height: 40px; */
  background-color: rgb(68, 157, 68);
  border-radius: 5px;
  text-align: center;
  line-height: 35px;
  font-size: 18px;
  color: white;
}

.top-icon-chapter-start {
  text-align: center;

}

.under-icon-chapter-end {
  text-align: center;
}

.icon-chapter-top {
  background-image: url(https://png.pngtree.com/png-clipart/20230817/original/pngtree-wind-icon-logo-design-template-vector-curve-blow-cold-vector-picture-image_10945794.png);
  background-size: cover;
  background-position: center;
  width: 220px;
  height: 40px;
  display: inline-block;
}

.under-icon-chapter-start {
  text-align: center;
}

.icon-chapter-under {
  background-image: url(https://static.vecteezy.com/system/resources/previews/047/491/929/non_2x/graphic-with-a-black-elegant-plant-ornament-on-an-isolated-background-png.png);
  background-position: center;
  width: 150px;
  height: 85px;
  background-color: rgb(244, 244, 244);
  background-size: contain;
  margin-top: 15px;
  display: inline-block;
}

.content-chapter {
  display: inline-block;
}

.content {
  font-family: "Palatino Linotype", "Arial", "Times New Roman", sans-serif;
  font-size: 19px;
  margin: 0 auto 0 auto;
}


.text-center {
  /* display: inline-flex; */
  text-align: center;
  margin-top: 10px;
}

.text-center {
  display: flex;
  justify-content: center;
}

.button-warning {
  width: 17%;
  height: 35px;
  text-align: center;
  border: 1px solid;
  background-color: rgb(236, 151, 31);
  color: white;
  border-radius: 5px;
  line-height: 30px;
  margin-right: 10px;
}

.button-message {
  width: 15%;
  height: 35px;
  text-align: center;
  border: 1px solid;
  background-color: rgb(91, 192, 222);
  color: white;
  border-radius: 5px;
  line-height: 35px;
  margin-right: 10px;
}

.guide {
  text-align: center;
}

.guide-bar {
  width: 35%;
  border: 1px dashed rgb(0, 149, 212);
  background-color: rgb(217, 237, 247);
  text-align: center;
  border-radius: 5px;
  line-height: 30px;
  justify-content: center;
  display: inline-block;
  margin-top: 15px;
}


.advertisement-end {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  /* padding: 20px 200px 0 200px; */
}

.ads-box {
  width: 40%;
  padding: 10px;
  border: 1px dotted rgb(0, 149, 212);
  background-color: rgb(217, 237, 247);
  border-radius: 5px;
  margin: 10px auto;
}

.highlight {
  color: red;
  font-weight: bold;
}

